.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #151515;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
}

.post-button {
  background-color: #1da1f2;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.welcome-banner {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.start-button {
  background-color: #1da1f2;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.post {
  background-color: #151515;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.post-images img {
  width: 100px;
  margin-right: 10px;
  border-radius: 10px;
}

.trending {
  width: 300px;
  background-color: #151515;
  padding: 20px;
  box-sizing: border-box;
}

.trending h2 {
  margin-top: 0;
}

.trending ul {
  list-style-type: none;
  padding: 0;
}

.trending li {
  margin: 10px 0;
}
